streamlit
pandas
matplotlib
pdfplumber
python-docx
Pillow
spacy==3.7.2
sentence-transformers
PyMuPDF

# Opcional (com cuidado): Somente se precisar e estiver em ambiente compatível
# docx2pdf

# Modelo do spaCy para português
https://github.com/explosion/spacy-models/releases/download/pt_core_news_lg-3.7.0/pt_core_news_lg-3.7.0-py3-none-any.whl

